echo "# special-garbanzo" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/teeqp44-lgtm/special-garbanzo.git
git push -u origin main
